{{> post-info post}}
{{#if loggedIn}}
<div class="card">
    <form class="card-body" id="comment-form">
        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="comment-input" />
        <button type="submit" class="btn">Submit!</button>

    </form>
</div>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}